@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#1e1e2c;
    font-family: 'Montserrat';
}
header {
    background-color: #33e1ed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

header h1{
    color: #2d2d49;
}
h3{
    color: white;
}
a{
    color:#2d2d49;
    text-decoration: none;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

main {
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #2d2d49;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.295);
    gap:20px;
}

.cadastro {
    width: 35%;
}

.cadastro .form-control {
    width: 100%;
    padding: 9px;
   
}

label{
    color:white;
    font-size:1.4em;
}

.mb-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.mb-3 .btn{
    width:200px;
    background-color: #33e1ed;
    color:#1e1e2c;
}

.lista {
    width: 65%;
    padding: 9px;
    overflow-y: auto;
    height: 250px;
}
@media screen and (max-width:600px){
    main {
        height:500px;
        width:90%;
        flex-direction:column;
        
    }
    
    .cadastro {
        width: 90%;
    }
    .lista {
        width: 90%;
    }
}